{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="bigtext"><b>1.</b> <a href="https://www.kinopoisk.ru/film/3498/" class="titlefilm">Властелин колец 3: Возвращение Короля</a> <span class="bigtext">(The Lord of the Rings: The Return of the King)</span>, 2003</div>
    <div class="relative" style="padding-top:5px;"><div class="rating_leftposter"> <a title="Постер к фильму &quot;Властелин колец. Возвращение короля&quot;"><img src="https://www.kinonews.ru/insimgs/poster/poster2608_1_prev.jpg" width="90" height="120" style="margin-right:7px;" alt="Постер к фильму &quot;Властелин колец. Возвращение короля&quot;"></a></div><div class="rating_rightdesc"><div class="zhanr_rating">Рейтинг: <span class="rating-big">9.45</span></div>
<div class="textgray"><span class="film-rubrpers">Страна:</span> США, Новая Зеландия</div>
<div class="textgray"><span class="film-rubrpers">Жанр:</span> <a>боевик</a>, <a>приключения</a>, <a>фэнтези</a></div>
<div class="textgray"><span class="film-rubrpers">Режиссер:</span> <a href="https://www.kinonews.ru/person_33/peter-jackson">Питер Джексон</a></div>
<div class="textgray"><span class="film-rubrpers">В главных ролях:</span> <a href="https://www.kinonews.ru/person_75/elijah-wood">Элайджа Вуд</a>, <a href="https://www.kinonews.ru/person_36/orlando-bloom">Орландо Блум</a></div>
<div class="textgray"><span class="film-rubrpers">Продолжительность:</span> 201 мин.</div>
        <a class="abtn" href="/create-article">Написать отзыв</a>
</div></div>

</div>
{% endblock %}
